/* Gallery styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 0fr)
  ); /* Ensure grid adapts to 200px */
  gap: 0px;
  justify-content: center; /* Center the entire gallery */
  margin: 0 auto;
}

.custom-img {
  width: 200px; /* Set width to 200px */
  height: 200px; /* Set height to 200px */
  object-fit: cover; /* Ensure images cover the box without distortion */
  transition: transform 0.3s ease; /* Smooth scaling */
  margin-right: -10px;
  display: block;
}

.custom-img:hover {
  transform: scale(1.05); /* Scale image on hover */
  cursor: pointer; /* Pointer cursor on hover */
}
