.test-container {
    padding-left: 0px;
    padding-right: 0px;
}

.custom-tumlum{
    margin-left: 0px;
    margin-right: 0px;
}
.test-radius{
    margin-left: 0px;
    width: 265px;
}

.testcard-body{
    width: 235px;
}
.tggg{
    margin-left: 12px;
    width: 265px;

}

.rowPay {
    width: 1200px;
}

.customPay{
    margin-left: 12px;
    width: 99.3%;
}