.Image {
    font-family: sans-serif;
    text-align: center;
  }
  
  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cus-container {
    width: 1100px;
    height: 750px;
}

.cus-mt5test {
    width: 1220px;
    height: 750px;

}
.card-mycustom {
    height: 802px;
    width: 1076px;
    margin-left: 12px;
}

.card-mycustomCustomer{
    margin-left: 0px;
    width: 235px;
}

.form-group{
    display:flex;
    justify-content: space-between;
    padding: 3px;
    margin: 10px;
}

.form-group > input,select {
    width: 240px;
    padding: 1px 2px;
}


.buttonSubmit {
    padding: 20px 40px;
    position: relative;
    top: 15px;
    left: 550px;
    background-color: rgb(29, 169, 29);
    color: white;
}

.generateQR {
    padding: 20px 40px;
    position: relative;
    top: 15px;
    left: 500px;
    background-color: rgb(29, 169, 29);
    color: white;
}

.generateQR:hover {
    background-color: blueviolet;
}

.buttonSubmit:hover{
    background-color: blueviolet;
}

.alert {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    z-index: 9999; 
    min-width: 200px; 
  }
  

  .buttonCreatePayment{
    padding: 20px 40px;
    position: relative;
    top: 15px;
    left: 600px;
    background-color: rgb(29, 169, 29);
    color: white;
  }

  .buttonCreatePayment:hover{
    background-color: blueviolet;
  }

  .payment-form {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 610px;
    margin-left: -525px;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 100px;
}

.checkboxPoints{
  position: relative;
  top: 450px;
  display: flex;
  justify-content: flex-start;
  left: 25px
}

.checkboxInput{
  width: 20px;
  height: 20px;
}

.checkboxLabel{
  margin-left: 10px;
  height: 30px;
}

.textDiv {
  position: relative;
}

.text {
  margin-left: 40px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
}

.add-more-label {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  background-color: rgb(138, 220, 226); 
  padding: 2px 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  border-radius: 10px;
}

.add-more-label:hover {
  background-color: #0026ff; 
  color:white;
}


.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  max-height: 80vh;
  overflow: hidden;
}

.services-container {
  display: flex;
  gap: 20px;
}

.service-column {
  flex: 1;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.service-item {
  margin-bottom: 10px;
}

.button-cus {
  margin-top: 10px;
  margin-right: 10px;
}


