.Image {
    font-family: sans-serif;
    text-align: center;
  }
  
  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cus-container {
    width: 1100px;
    height: 750px;
}

.cus-mt5test {
    width: 1220px;
    height: 750px;

}
.card-mycustom {
    height: 750px;
    width: 1076px;
    margin-left: 12px;
}

.card-mycustomCustomer{
    margin-left: 0px;
    width: 235px;
}

.form-group{
    display:flex;
    justify-content: space-between;
    padding: 3px;
    margin: 10px;
}

.form-group > input,select {
    width: 240px;
    padding: 1px 2px;
}


.buttonSubmit {
    padding: 20px 40px;
    position: relative;
    top: 30px;
    left: 550px;
    background-color: rgb(29, 169, 29);
    color: white;
}

.generateQR {
    padding: 20px 40px;
    position: relative;
    top: 30px;
    left: 500px;
    background-color: rgb(29, 169, 29);
    color: white;
}

.generateQR:hover {
    background-color: blueviolet;
}

.buttonSubmit:hover{
    background-color: blueviolet;
}

.alert {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    z-index: 9999; 
    min-width: 200px; 
  }
  .text {
    margin-left: 178px;
  }

  .buttonCreatePayment{
    padding: 20px 40px;
    position: relative;
    top: 30px;
    left: 600px;
    background-color: rgb(29, 169, 29);
    color: white;
  }

  .buttonCreatePayment:hover{
    background-color: blueviolet;
  }

  .payment-form {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 500px;
    margin-left: -525px;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 100px;
}