.nav-link.active {
    color: rgb(236, 39, 39);
    pointer-events: none;
  }
  
  .text-center {
    display: flex;
    align-items: center;
  }
  
  .text-center > div {
    margin: 0 15px;
  }
  
  .hover-card:hover {
    border: 1px solid rgb(6, 57, 184);
    cursor: pointer;
  }
  
  .block-span {
    display:block;
  }
  
  .row-custom {
  max-height: 55px;
  width: 1202px;
  }
  
  .custom-pagi {
  margin-bottom: 0px;
  }
  .result-found > h6 {
  margin-left: 30px;
  }
  
  .card-custom{
    width: 1177px;
    height: 169.500px;
    border: 1px;
    margin-bottom: 16px;
    margin-left: 0px;
  }
  
  .searchSubmit{
  float:right;
  padding: 10px;
  width: 80px;
  position: relative;
  top: -48px;
  }
  
  .custom-mt {
    width: 1178px;
    margin-top: 3px!important;
  }
  
  .card-body-custom{
    height: 97px!important;
    padding-bottom: 0px!important;
    margin-bottom: 0px!important;
  
  }
  
  
  .detailSee{
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .card-custom-booking {
    width: 1180px;
        height: 114px;
        margin-left: 0px;
        margin-bottom: 5px!important;
    }
    
    .custom-g0 {
      width: 1194px;
      margin-bottom: 10px;
    }