.status-dropdown {
    position: relative; 
  }
  
  .dropdown-options {
    position: absolute; 
    top: 100%; 
    left: -12px; 
    background-color: white; 
    border: 1px solid #ccc; 
    z-index: 10; 
    width: 102px;
    text-align: center; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .dropdown-option {
    padding: 8px; 
    cursor: pointer;
    border-width: 0 0 1px 0;
    border-style: solid; 
    border-color: #ccc; 
  }
  
  .dropdown-option:hover {
    background-color: #f0f0f0; 
  }
  