.cus-container {
    width: 1196px;
    height: 564px;
}

.cus-mt5test {
    width: 1220px;
    height: 564px;
}
.card-mycustom {
    height: 564px;
    width: 891px;
    margin-left: 12px;
}

.card-mycustomCustomer{
    margin-left: 0px;
    width: 235px;
}

