.navbar-brand {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-style: normal;
}
.navbar-nav .nav-link {
  font-size: 1.1rem;
}

.nav-item {
  margin-left: 100px;
}

.nav-item > .nav-link {
  font-family: "Inknut Antiqua", serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}
.backgroud-header {
  background-color: black;
}

.container-header {
  margin: 20px 50px 20px;
}

.img-fluid-logo {
  filter: brightness(50%);
  object-fit: cover;
}

/* Dropdown styles */
.dropdown-menu {
  background-color: #343a40;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #50575e;
  color: #ffffff;
}

.dropdown-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.name {
  font-family: "Inknut Antiqua", serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}