.custom-mt5 {
    height: 646px;
}

.custom-rowJ {
    max-width: 1200px;
    width: 100%;
    height: 646px;
}

.test-col-6 {
    height: 646px;
}

.test-mb4 {
    width: 572px;
    margin-left: 0px;
}

